@import url('https://fonts.cdnfonts.com/css/brodies');
/* font-family: 'Brodies', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');
/* font-family: 'Montserrat', sans-serif; no fantasia*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}



body{
  
  /* background-image: linear-gradient(135deg, #eea2a2, #bbc1bf , #57c6e1, #b49fda, #7ac5d8);
  background-size: 500%; */
  /* animation: fananimado 10s infinite; */
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

/* @keyframes fananimado{
  0% {
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50% ;
  }
  100%{
    background-position: 0% 50%
  }
} */

@media screen and (min-width:320px){
 .hero{
    position: relative;
    color: #12a028;
  }

  .hero-menu{
    height: 50px;
  }

 .hero-menu h2{
   position: absolute;
   padding: 10px;
   font-family: 'Brodies', sans-serif;
   font-size: 30px;
 }

  .hero-menu span{
    color: #000000;
  }

  .checkbox , .iconos{
    
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;
 }

 .iconos{
    pointer-events: none;
    font-size: 30px;
 }

 .checkbox{
    opacity: 0;
 }

 .fi-br-cross{
    display: none;
 }

 .checkbox:checked ~ .fi-br-menu-burger{
    display: none;
 }

 .checkbox:checked ~ .fi-br-cross{
    display: block;
 }

 .hero-menu-lista li a{
   background-color: rgba(255, 255, 255, 0.432);
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   display: block;
   padding: 10px 12px;
   color: black;
 }

 .hero-menu-lista li a:hover{
    background-color:#b695c075 ;
 }

 .hero-menu-lista{
  width: 200px;
  position: absolute;
  top: 48px;
  right: 0px;
  display: none;
  text-align: center;
 }

 .checkbox:checked ~ .hero-menu-lista{
  display: block;
 }

 .presentacion{
  display: flex;
  align-items: center;
  flex-direction: column;
 }

 .presentacion-ilustracion img{
  height: 250px;
  width: 250px;
  align-self: center;
 }

 .presentacion-ilustracion{
  margin-bottom: 20px;
  height: 250px;
  width: 250px;
  animation:entradadesdeizq .8s ease ;
 }

 @keyframes entradadesdeizq {
  from{
    transform: translateX(-200%);
  }
  to{
    transform: translateX(0);
  }
 }

 .presentacion {
  font-size: 25px;
  text-align: center;
 }

 .presentacion-titulo{
  font-size: 2rem;
  margin: 5px 5px;
  padding: 5px 5px;
  text-align: center;
  white-space: nowrap;
  border-right: 2px solid;
  width: 14ch;
  animation: typing 2s steps(14), blink 0.5s infinite step-end alternate;
  overflow: hidden;
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

 .presentacion-titulo span{
  font-family: 'Brodies', sans-serif;
  color: #12a028;
 }

 .conocimientos{
  background-color: #b8378275;
 }

 .conocimientos-titulo  {
  text-align: center;
  font-size: 1.9rem;
  padding: 30px 15px;
  font-family: 'Montserrat', sans-serif;
 }
 
 .conocimientos-texto{
  text-align: center;
  font-size: 1rem;
 }

 .conocimientos-titulo span{
  font-family: 'Brodies', sans-serif;
  color: #12a028;
  font-size: 1.9rem;
  text-align: center;
 }

 .conocimientos-contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 
 .conocimientos-tarjeta img{
  height: 250px;
  width: 250px;
 }

 .conocimientos-tarjeta figure{
  width: 90%;
  margin: 15px 15px;
  padding: 10px 10px;
  border-radius: 6px;
  overflow: hidden;
  background: white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.50);
  cursor: pointer;
  transition: all 400ms ease;
 }

 .conocimientos-tarjeta figure:hover{
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.80);
  transform: translateY(-3%);
 }

 .mis-proyectos{
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .proyectos-titulo{
  padding: 30px;
  text-align: center;
  font-size: 1.9rem;
  padding: 40px 20px;
  font-family: 'Montserrat', sans-serif;
 }

 .proyectos-texto{
  text-align: center;
  font-size: 1rem;
 }

 .proyectos-titulo span{
  font-family: 'Brodies', sans-serif;
  color: #12a028;
 }

 .proyectos-contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .proyectos-tarjeta{
  margin: 15px 15px;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 250px;
  width: 250px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.50);
  overflow: hidden;
 }

 .proyecto-tarjeta-texto{
  position: absolute;
  opacity: 0;
  bottom: 0;
  padding: 10px;
  color: rgb(0, 0, 0);
  border-radius: 0 0 15px 15px;
 }

 .proyectos-tarjeta-img{
  height: 250px;
  width: 250px;
  padding: 10px 10px;
  border-radius: 6px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
 }

 .proyectos-tarjeta:hover .proyectos-tarjeta-img{
  transform: scale(1.5);
  transition: 0.5s all ease-in-out;
 }

 .proyectos-tarjeta:hover .proyecto-tarjeta-texto{
  opacity: 1;
  transition: 0.5s all ease-in-out;
 }





















 .formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  background: rgba(245, 100, 233, 0.301);
  margin: 15px;
 }

 .formulario-titulo{
  font-family: 'Brodies', sans-serif;
  color: #12a028;
  font-size: 1.9rem;
  padding: 20px ;
  text-align: center;

 }

 .formulario input, textarea{
  padding: 10px 10px;
  margin: 5px ;
  width: 90%;
 }

 .formulario-titulo textarea{
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
 }

 .formulario-boton{
  background: #b8378275;
  color: white;
  padding: 10px;
  border-radius: 10px;
 }

 .formulario-boton :hover {
  cursor: pointer;
 }

 .pie-de-pagina{
  height: 150px;
  width: 100%;
  background-color: #b8378275;
  display: flex;
  flex-direction: column;
  align-items: center; 
 
 }

 .redes-sociales i{
  font-size: 2rem;
  align-items: center;
  padding: 40px 20px;
}

@media screen and (min-width:768px){
  .hero-logo{
    font-size: 50px;
  }
 .hero-menu-list{
  list-style: none;
  text-decoration: none;
 }

   .presentacion{
    position: relative;
    display: flex ;
    flex-wrap: wrap;
    border: solid #000000;
  } 

  .presentacion-ilustracion{
    display: flex ;
    margin: 10px;
    width: 350px;
    height: 350px;
  }
  .presentacion-titulo .presentacion-texto{
    position: absolute;
    height: 50px;
    width: 50px;
  }
 
  
}



@media screen and (min-width: 1024px) {

   .checkbox, .fi-br-menu-burger, .fi-br-cross{
      display: none;
   }

   .hero-menu{
      width: 100vw;
      height: 100vh;
      position: relative;
      display: flex;
  }


  .hero-menu-list{
      position: absolute;
      display: block;
      height: 50px;
      display: flex;
      padding: 0 ;
  }

  .hero-menu-list li a{
      border-radius: 15px;
      justify-content: center;
  }
}  